
<div class="form-group row">
    <div class="col-sm-6">
        <label for="Position"
               class="col-form-label">
            Vị trí sắp xếp
        </label>
        <input type="number"
               class="form-control"
               ng-model="newItem.Position"
               name="Position"
               validation="required"
               placeholder="Vị trí sắp xếp">
    </div>
    <div class="col-md-6">
        <label for="Description"
               class="col-form-label">
            Mô tả
        </label>
        <textarea rows="3"
                  class="form-control"
                  ng-model="newItem.Description"
                  name="Description"
                  validation="max_len:4000"
                  placeholder="Mô tả"></textarea>
    </div>
</div>