
<div class="form-group row">
    <label for="FirstName"
           class="col-form-label col-md-2">
        Họ <span class="text-danger">(*)</span>
    </label>
    <div class="col-md-4">
        <input type="text"
               ng-model="newItem.FirstName"
               name="FirstName"
               validation="required|max_len:1000"
               class="form-control"
               placeholder="Họ">
    </div>

    <label for="LastName"
           class="col-form-label col-md-2">
         Tên <span class="text-danger">(*)</span>
    </label>
    <div class="col-md-4">
        <input type="text"
               ng-model="newItem.LastName"
               name="LastName"
               validation="required|max_len:1000"
               class="form-control"
               placeholder="Tên">
    </div>
</div>

<div class="form-group row">
    <label for="Email"
           class="col-form-label col-md-2">
        Email <span class="text-danger">(*)</span>
    </label>
    <div class="col-md-4">
        <input type="text"
               ng-model="newItem.Email"
               name="Email"
               validation="required|max_len:1000"
               class="form-control"
               placeholder="Email">
    </div>

    <label for="Phone"
           class="col-form-label col-md-2">
        Số điện thoại
    </label>
    <div class="col-md-4">
        <input type="text"
               ng-model="newItem.Phone"
               name="Phone"
               validation="max_len:1000"
               class="form-control"
               placeholder="Số điện thoại">
    </div>
</div>

<div class="form-group row">
    <label for="Locked"
           class="col-form-label col-md-2">
        &nbsp;
    </label>
    <div class="col-md-4">
        <div class="icheck-primary">
            <input type="checkbox"
                   ng-model="newItem.Locked"
                   id="Locked"
                   name="Locked" />

            <label for="Locked">
                Locked
            </label>
        </div>
    </div>

    <label for="LockedEnd"
           class="col-form-label col-md-2">
        Thời gian mở khóa
    </label>
    <div class="col-md-4" >
        @*<input type="datetime"
        readonly
        class="form-control"
        name="LockedEnd"
        ng-model="newItem.LokedEnd"
        value="{{newItem.LockedEnd | date:'01/01/2100 01:01'}}"
        placeholder="Thời gian mở khóa">*@

        <input type="text"
                 moment-picker
               format="DD/MM/YYYY HH:mm"
               locale="vi"
               ng-model="newItem.LockedEnd"
               name="LockedEnd"
               value="{{newItem.LockedEnd|date:'dd/MM/yyyy HH:mm'}}"
               class="form-control"
               placeholder="">
    </div>

</div>

<!--Controller name-->
<div class="form-group row">
    <div class="col-sm-12">
        <label for="UserGroupIds"
               class="col-form-label">
            Chọn nhóm người dùng (nếu có)
        </label>

        <select ui-select2
                multiple
                style="width:100%"
                id="UserGroupIds"
                name="UserGroupIds"
                ng-options="opt.Id as opt.Name for opt in InitData.UserGroups"
                ng-model="newItem.UserGroupIds"
                class="form-control"></select>
    </div>
</div>


<div class="form-group row">
    <label for="FailedCount"
           class="col-form-label col-md-2">
        Số lần đăng nhập sai
    </label>
    <div class="col-md-4">
        <input type="number"
               readonly
               class="form-control"
               ng-model="newItem.FailedCount"
               name="FailedCount"
               placeholder="Số lần đăng nhập sai">
    </div>
</div>


