<div class="row">
    <div class="col-lg-12 text-right">
            <a href="@Url.Action("NewUser")"
               uib-tooltip="Thêm mới"
               class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i>
            </a>
    </div>
</div>