
<div class="form-group row">
    <label for="Password"
           class="col-form-label col-md-2">
        Mật khẩu <span class="text-danger">(*)</span>
    </label>
    <div class="col-md-4">
        <input type="password"
               class="form-control"
               ng-model="newItem.Password"
               name="Password"
               validation="required|max_len:128"
               placeholder="Mật khẩu">
    </div>
    <label for="ConfirmPassword"
           class="col-form-label col-md-2">
        Xác nhận mật khẩu <span class="text-danger">(*)</span>
    </label>
    <div class="col-md-4">
        <input type="password"
               class="form-control"
               ng-model="newItem.ConfirmPassword"
               name="ConfirmPassword"
               validation="required|max_len:128|match:newItem.Password"
               placeholder="Xác nhận mật khẩu">
    </div>
</div>