@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg p-2" ng-controller="loginCtrl">
    <div block-ui="uiBlock" ng-init="onGetProfile()">

        @await Html.PartialAsync("_FormTitle")

        <div class="row">
            <div class="col-lg-12">
                    <form class="user"
                          ng-submit="onUpdateProfile(profileModel)"
                          name="regForm"
                          id="regForm">
                        <div class="form-group row">
                            <label for="FirstName"
                                   class="col-form-label col-md-2">
                                Tên <span class="text-danger">(*)</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text"
                                       ng-model="profileModel.FirstName"
                                       name="FirstName"
                                       validation="required|max_len:128"
                                       class="form-control"
                                       placeholder="Tên">
                            </div>

                            <label for="LastName"
                                   class="col-form-label col-md-2">
                                Họ <span class="text-danger">(*)</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text"
                                       ng-model="profileModel.LastName"
                                       name="LastName"
                                       validation="required|max_len:128"
                                       class="form-control"
                                       placeholder="Họ">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Phone"
                                   class="col-form-label col-md-2">
                                Số điện thoại <span class="text-danger">(*)</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text"
                                       ng-model="profileModel.Phone"
                                       name="Phone"
                                       validation="required|max_len:128"
                                       class="form-control"
                                       placeholder="Số điện thoại">
                            </div>

                            <label for="Email"
                                   class="col-form-label col-md-2">
                                Email <span class="text-danger">(*)</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text"
                                       ng-model="profileModel.Email"
                                       name="Email"
                                       validation="required|max_len:128"
                                       class="form-control"
                                       placeholder="Địa chỉ email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="50">#</th>
                                            <th> Chi nhánh cấp 1
                                            <th> Chi nhánh cấp 2 </th>
                                            <th> Chi nhánh cấp 3 </th>
                                            <th> Chi nhánh cấp 4 </th>
                                            <th> Chi nhánh cấp 5 </th>
                                            <th> Chức danh
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in profileModel.UserDepartments | filter :{ Deleted:false }">
                                            <td>
                                                {{$index + 1}}
                                            </td>
                                            <td>
                                                {{item.DepartmentName}}

                                            </td>
                                            <td>
                                                {{item.Department2Name}}
                                            </td>
                                            <td>
                                                {{item.Department3Name}}
                                            </td>
                                            <td>
                                                {{item.Department4Name}}
                                            </td>
                                            <td>
                                                {{item.Department5Name}}
                                            </td>
                                            <td>
                                                {{item.JobTitleName}}
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="text-right col-md-12">
                                <button type="submit"
                                        ng-disabled="regForm.$invalid"
                                        class="btn btn-primary btn-user">
                                    Lưu thông tin
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="col-lg-3 d-none d-lg-block"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/controllers/loginCtrl.js"></script>
    <script src="~/js/services/auth-servives.js"></script>
    <script src="~/js/services/core-service.js"></script>
}
