.org-tree {
    font-size: 1rem !important;
}

ol.tree-node {
    list-style: none;
}

    ol.tree-node li {
        list-style: none;
    }

.dropdown-menu {
    min-width: 32px;
    padding: 10px;
}
