/Trunk/SubProject/NHNN/Vinorsoft.NHNN.Report/Vinorsoft.NHNN.Report.App/bin
/Trunk/SubProject/NHNN/Vinorsoft.NHNN.Report/Vinorsoft.NHNN.Report.App/obj
/Trunk/SubProject/NHNN/Vinorsoft.NHNN.Report/Vinorsoft.NHNN.Report.App/wwwroot/temp

