<div class="form">
    @(Html.DevExtreme().Menu()
                                                .ID("menu")
                                                .DataSource(d => d.Mvc()
                                                .Area("System")
                                                .Controller("TopMenu")
                                                .LoadAction("GetMenus"))
                                                .HideSubmenuOnMouseLeave(false)
                                                .OnItemClick("menuItem_click")
    )
</div>

<script>
    function menuItem_click(data) {
        var item = data.itemData;
        if (item.url && item.url != '#')
            window.location.href = item.url;
    }
</script>
