@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="userConfirmCodeCtrl"
     ng-init="onInit()">
    <div class="card o-hidden border-0 shadow-lg p-2">
        <div block-ui="uiBlock">
            @await Html.PartialAsync("_FormTitle")

            <form name="newForm"
                  id="newForm"
                  class="user">

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="Username"
                               class="col-form-label">
                            Tên đăng nhập <span class="text-danger">(*)</span>
                        </label>
                        <input type="text"
                               class="form-control"
                               ng-model="newItem.Users.Username"
                               name="Username"
                               input-enter="findUser(newItem.Users.Username)"
                               ng-blur ="findUser(newItem.Users.Username)"
                               validation="required|max_len:1000"
                               placeholder="Tên đăng nhập">
                    </div>

                    <div class="col-sm-8">
                        <label for="FullName"
                               class="col-form-label">
                            Họ tên <span class="text-danger">(*)</span>
                        </label>
                        <input type="text"
                               class="form-control"
                               readonly
                               value="{{newItem.Users.FirstName}} {{newItem.Users.LastName}}"
                               name="FullName"
                               placeholder="Họ tên">
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-sm-4">
                        <label for="ConfirmCode"
                               class="col-form-label">
                            Mã xác nhận <span class="text-danger">(*)</span>
                        </label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   ng-model="newItem.ConfirmCode"
                                   name="ConfirmCode"
                                   validation="required|max_len:1000"
                                   placeholder="Mã xác nhận">
                            <div class="input-group-prepend"> 
                                <button ng-click="onRandomCode()" class="btn btn-outline-primary" type="button">
                                    <i class="fa fa-sync"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="Issued"
                               class="col-form-label">
                            Ngày cấp <span class="text-danger">(*)</span>
                        </label>

                        <input moment-picker
                               format="DD/MM/YYYY HH:mm"
                               locale="vi"
                               readonly
                               validation="required"
                               ng-model="newItem.Issued"
                               name="Issued"
                               id="Issued"
                               class="form-control"
                               placeholder="{{newItem.Issued | date:'dd/MM/yyyy HH:mm'}}" />
                    </div>

                    <div class="col-md-4">
                        <label for="Expired"
                               class="col-form-label">
                            Ngày hết hạn <span class="text-danger">(*)</span>
                        </label>

                        <input moment-picker
                               format="DD/MM/YYYY HH:mm"
                               locale="vi"
                               readonly
                               validation="required"
                               ng-model="newItem.Expired"
                               name="Expired"
                               id="Expired"
                               class="form-control"
                               placeholder="{{newItem.Expired | date:'dd/MM/yyyy HH:mm'}}" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="ConfirmTypeId"
                               class="col-form-label">
                            Loại mã xác nhận <span class="text-danger">(*)</span>
                        </label>
                        <select placeholder="Loại mã xác nhận"
                                ui-select2
                                style="width:100%"
                                validation="required"
                                name="ConfirmTypeId"
                                ng-options="item.Id as item.Name for item in InitData.UserConfirmTypes"
                                ng-model="newItem.ConfirmTypeId"
                                class="form-control"></select>
                    </div>

                    <div class="col-sm-4">
                        <label for="StatusId"
                               class="col-form-label">
                            Tình trạng <span class="text-danger">(*)</span>
                        </label>
                        <select placeholder="Tình trạng"
                                ui-select2
                                validation="required"
                                style="width:100%"
                                name="StatusId"
                                ng-options="item.Id as item.Name for item in InitData.UserConfirmStatus"
                                ng-model="newItem.StatusId"
                                class="form-control"></select>
                    </div>

                </div>

                <!--Button Save-->
                @await Html.PartialAsync("_CatalogueButtons")

            </form>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_CatalogueScripts")
    <script src="~/js/controllers/userConfirmCodeCtrl.js"></script>
}
