<div class="row">
    <div class="col-lg-12">
        <table datatable
               dt-options="coreCtrl.dtOptions"
               dt-columns="coreCtrl.dtColumns"
               dt-instance="coreCtrl.dtInstance"
               class="table table-hover table-bordered"></table>
    </div>
</div>