@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="importCtrl"
     ng-init="onInitData()">
    <div class="card o-hidden border-0 shadow-lg p-2">

        @await Html.PartialAsync("_FormTitle")

        <form name="importForm"
              id="importForm"
              method="post"
              enctype="multipart/form-data"
              class="user">

            <div class="row">
                <div class="col-md-6">
                    <div class="icheck-primary">
                        <input type="checkbox"
                               ng-model="initDatas.IsUsingTemplate"
                               id="IsUsingTemplate"
                               name="IsUsingTemplate" />

                        <label for="IsUsingTemplate">
                            Dùng template mẫu
                        </label>
                    </div>
                </div>

            </div>

            <div class="row" ng-if="initDatas.IsUsingTemplate">
                <label class="col-form-label col-md-2">
                    Template mẫu: <a href="@Url.Action("DownloadCatalogueTemplate")">Download</a>
                </label>
            </div>

            <!--Mã/Tên-->
            <div class="form-group row">
                <label for="Code"
                       class="col-form-label col-md-2">
                    File import
                </label>
                <div class="col-md-10">
                    <input type="file"
                           class="form-control"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                           name="fileImport"
                           file-model="initDatas.File"
                           placeholder="File import" />
                </div>
            </div>

            <!-- Dòng bắt đầu/Cột ghi kết quả-->
            <div class="form-group row" ng-if="!initDatas.IsUsingTemplate">
                <label for="StartRowIndex"
                       class="col-form-label col-md-2">
                    Dòng bắt đầu
                </label>
                <div class="col-md-2">
                    <input type="number"
                           class="form-control"
                           ng-model="initDatas.StartRowIndex"
                           placeholder="Dòng bắt đầu">
                </div>

                <label for="LogColumnIndex"
                       class="col-form-label col-md-2">
                    Cột ghi kết quả
                </label>
                <div class="col-md-2">
                    <input type="number"
                           class="form-control"
                           ng-model="initDatas.LogColumnIndex"
                           placeholder="Cột ghi kết quả">
                </div>

                <label for="LogColumnIndex"
                       class="col-form-label col-md-2">
                    Tên sheet
                </label>
                <div class="col-md-2">
                    <input type="text"
                           validation="required"
                           class="form-control"
                           name="SheetName"
                           ng-model="initDatas.SheetName"
                           placeholder="Tên sheet">
                </div>
            </div>

            <!--Mô tả-->
            <div class="form-group row" ng-if="!initDatas.IsUsingTemplate">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Trường dữ liệu</th>
                                <th>Cột tương ứng trong file import</th>
                                <th>Validate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in initDatas.Mappings">
                                <td>
                                    {{$index + 1}}
                                </td>

                                <td>
                                    {{item.PropertyDescription}}
                                </td>

                                <td>
                                    <select ui-select2
                                            style="width:100%"
                                            id="MappingWithColumn-{{$index}}"
                                            validation="required"
                                            placeholder="Cột tương ứng trong file import"
                                            name="MappingWithColumn-{{$index}}"
                                            ng-options="opt.Code as opt.Name for opt in item.Columns"
                                            ng-model="item.MappingWithColumn"
                                            class="form-control"></select>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <div class="icheck-primary">
                                            <input type="checkbox"
                                                   ng-model="item.Required"
                                                   id="Required-{{$index}}"
                                                   name="Required-{{$index}}" />

                                            <label for="Required-{{$index}}">
                                                Bắt buộc nhập
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="icheck-primary">
                                            <input type="checkbox"
                                                   ng-model="item.AutoGenerateIfNull"
                                                   id="AutoGenerateIfNull-{{$index}}"
                                                   name="AutoGenerateIfNull-{{$index}}" />

                                            <label for="AutoGenerateIfNull-{{$index}}">
                                                Tự động tạo từ cột
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select ui-select2
                                                style="width:100%"
                                                id="item.AutoGenerateColumn"
                                                ng-if="item.AutoGenerateIfNull"
                                                validation="required"
                                                placeholder="Tự động tạo từ cột"
                                                name="item.AutoGenerateColumn"
                                                ng-options="opt.Code as opt.Name for opt in item.Columns"
                                                ng-model="item.AutoGenerateColumn"
                                                class="form-control"></select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Button Save-->
            <div class="form-group row">
                <div class="col-md-12 text-right">
                    <button type="button"
                            onclick="backToList()"
                            class="btn btn-primary btn-user">
                        Quay lại
                    </button>
                    <button type="button"
                            ng-click="onImport()"
                            ng-disabled="importForm.$invalid"
                            class="btn btn-primary btn-user">
                        Import
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ImportScripts")
}
