@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="coreCtrl"
     ng-init="onInit()">
    <div class="card o-hidden border-0 shadow-lg p-2">
        <div block-ui="uiBlock">
            @await Html.PartialAsync("_FormTitle")

            <form name="newForm"
                  id="newForm"
                  class="user">

                <!--Mã/Tên-->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="Code"
                               class="col-form-label">
                            Mã <span class="text-danger">(*)</span>
                        </label>
                        <input type="text"
                               ng-disabled="newItem.AutoGenerateCode"
                               class="form-control"
                               ng-model="newItem.Code"
                               name="Code"
                               validation="required|max_len:128"
                               placeholder="Mã">
                    </div>
                    <div class="col-sm-3">
                        <label for="Code"
                               class="col-form-label">
                            &nbsp;
                        </label>
                        <div class="form-group">
                            <div class="icheck-primary">
                                <input type="checkbox"
                                       ng-change="onChangeAutoGenerateCode(newItem.AutoGenerateCode)"
                                       ng-model="newItem.AutoGenerateCode"
                                       id="AutoGenerateCode"
                                       name="AutoGenerateCode" />

                                <label for="AutoGenerateCode">
                                    Tự động tạo mã
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <label for="Name"
                               class="col-form-label">
                            Tên <span class="text-danger">(*)</span>
                        </label>
                        <input type="text"
                               class="form-control"
                               ng-model="newItem.Name"
                               name="Name"
                               validation="required|max_len:128"
                               placeholder="Tên">
                    </div>
                </div>

                <!--Mô tả-->
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="Description"
                               class="col-form-label">
                            Mô tả
                        </label>
                        <textarea rows="3"
                                  class="form-control"
                                  ng-model="newItem.Description"
                                  name="Description"
                                  validation="max_len:4000"
                                  placeholder="Mô tả"></textarea>
                    </div>
                </div>

                <!--Button Save-->
                @await Html.PartialAsync("_CatalogueButtons")

            </form>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_CatalogueScripts")
}
