
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th width="50">#</th>
            <th width="250">Module</th>
            <th>Chuỗi kết nối</th>
            <th width="50"></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in newItem.CoreTenantConnections">
            <td>
                {{$index + 1}}
            </td>
            <td>
                <select placeholder="Module"
                        ui-select2
                        style="width:100%"
                        name="ModuleId"
                        ng-options="item.Id as item.Name for item in InitData.Modules"
                        ng-model="item.ModuleId"
                        class="form-control"></select>
            </td>
            <td>
                <textarea rows="3"
                          class="form-control"
                          ng-model="item.ConectionString"
                          name="ConectionString"
                          validation="max_len:4000"
                          placeholder="Chuỗi kết nối"></textarea>
            </td>
            <td class="text-right">
                <button type="button"
                        ng-click="onDelete(item)"
                        uib-tooltip="Xóa"
                        class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"
                class="text-right">
                <button type="button"
                        ng-click="onAddNewConnection()"
                        uib-tooltip="Thêm mới"
                        class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i>
                </button>
            </td>
        </tr>
    </tfoot>
</table>

<div class="form-group row">
    <div class="col-sm-6">
        <label for="RefId"
               class="col-form-label">
            Phòng ban/Chi cục
        </label>
        <select placeholder="Phòng ban/Chi cục"
                ui-select2
                name="RefId"
                ng-options="item.Id as item.Name for item in InitData.Departments"
                ng-model="newItem.RefId"
                class="form-control"></select>
    </div>
</div>
<!--Mô tả-->
<div class="form-group row">
    <div class="col-md-12">
        <label for="Description"
               class="col-form-label">
            Mô tả
        </label>
        <textarea rows="3"
                  class="form-control"
                  ng-model="newItem.Description"
                  name="Description"
                  validation="max_len:4000"
                  placeholder="Mô tả"></textarea>
    </div>
</div>
